body {
    background-color: rgb(30, 30, 30);
    height: 200vh;
    box-shadow: inset 0px 10px 20px -10px rgba(255,255, 255, 0.25);
    /* transform: translateY(5px);
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center; */
}


h1{
    font-family: "FreeMono", monospace;
    color: white;
    text-align: center;
    font-size: 3rem;
    border-bottom: 5px;
    margin-bottom: 5px;
    
}

p{
    font-family: "FreeMono", monospace;
    color: white;
    text-align: center;
}

#top-page{
    margin-bottom: 100px;
    margin-top: 10px;
}

#text-input{
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 3px;
}

#submit-button{
    background-color: rgb(70, 76, 89);
    color: white;
    font-weight: bold;
    border: none;
    padding-block: 10.5px;
    border-radius: 3px;
}

#submit-button:hover{
    background-color: rgb(103, 91, 110);
    transition-duration: 0.2s;
    
}

#remove-button{
    background-color: rgb(188, 62, 62);
    color: white;
    font-weight: bold;
    border: none;
    padding-block: 10.5px;
    border-radius: 3px;
}

#remove-button:hover{
    background-color: rgb(207, 86, 86);
}

#button-container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
}

#append-section{
    min-height: 400px;
    height: auto; 
    display: flex;
    justify-content: space-around;
  }

img {
    width: 100%;
    height: auto;
    background-position: center;
    border-radius: 8px;
    background-size: cover;
  }

.appended-div{
    width: 400px;
    height:fit-content;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin: 20px;
}
